/* Guides */

/* body {
  border: 5px blue dashed;
}

#navigationBar {
  border: 5px red dashed;
}

#bodyContent {
border: 5px yellow dashed;
color: black;
} */

/* .workBlock, .workText {
  border: 5px red dashed;

} */

/* Fonts */

/*
font-family: 'Raleway', sans-serif;
font-family: 'Homemade Apple', cursive;
font-family: 'Comfortaa', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Rock Salt', cursive;
font-family: 'Amatic SC', cursive;
*/

@font-face {
  font-family: 'avenir';
  src: url('content/Avenir.ttc');
}

@font-face {
  font-family: 'brushed';
  src: url('content/Brushed.ttf');
}

/* Site Title */

#siteTitle {
  font-family: 'Amatic SC', cursive;
  font-size: 65px;
  line-height: 40px;
  color: black;
  font-weight: 700;
}

/* Index Selection */
#navigationBar {
position: fixed;
left: 100px;
text-align: right;
}

a {
    color: black;
}

.port_link:link {
  text-decoration: none;
  color:black;
}

.h_effect, .indexNav, #resume_button, #asuwb, #damm, #tods, #bespoken, #art img, b {
  -o-transition:.35s;
  -ms-transition:.35s;
  -moz-transition:.35s;
  -webkit-transition:.35s;
  transition:.4s;
}

.indexNav {
  /* color: #e2473f; */
  font-family: 'Poiret One', cursive;
  font-size: 25px;
  line-height: 20px;
}

/* Navigation Animation */


span:hover {
  background-color: #e2473f;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
}

.h_effect:hover {
  color: white;
  background-color: #e2473f;
}

.deselected {
  color: black;
  background-color: white;
}

/* Shadow */

iframe {
  box-shadow: 0 0 15px #333;
}

button {
  box-shadow: 0 0 15px #333;
}


/* Body Content */

#bodyContent {
  padding-left: 120px;
  left: 200px;
}

.topBreak {
   display: block;
   line-height: 70px;
}

.page_Title {
  font-family: 'Poiret One', cursive;
  font-size: 60px;
}

.page_subtitle {
  font-family: 'Poiret One', cursive;
  font-size: 30px;
}

.page_Text {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

b {
  color: #e2473f;
}

footer {
  position: fixed;
}

/* about */

#resume_button {
  background-color: #e2473f;
  color: white;
  height: 40px;
  width: 150px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  letter-spacing: 10px;
  border-radius: 5px;
}

#resume_button:hover {
  background-color: white;
  color: #e2473f;
}

#about img {
  box-shadow: 0 0 15px #333;
}

/* contact me */

#peek {
  width: 500px;
  float: right;
  left: 300px;
}

/* work */

#work.col-sm-12 {
  padding-bottom: 30px;
}

.workBlock {
  /* background-color: gray; */
  float: left;
}

#work img {
  height: 250px;
  width: 250px;
  overflow: hidden;
  box-shadow: 0 0 15px #333;
}

.workTitle {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

.workText {
  height: 250px;
  width: 500px;
  /* background-color: gray; */
  float: right;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

/* art */

#art img:hover {
  opacity: 0.0;
}

#art * {
    box-sizing: border-box;
}

.header {
    text-align: center;
    padding: 32px;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    box-shadow: 0 0 7px #333;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}
